<form id="FEdit" class="fw-card" method="post" data-check-changes <~das if="id" inline>data-autosaveX</~das> action="<~../url><~uu1 if="id" inline>/<~id></~uu1>">
 <input type="hidden" name="XSS" value="<~session[XSS]>">
 <input type="hidden" name="d" value="<~d>">

  <fieldset class="mb-3">
    <~/common/form/msg>

  <div class="row">
    <div class="col-lg-6">
      <~form_left>
    </div>
    <div class="col-lg-6">
      <~form_right>
    </div>
  </div>

  <~/common/form/actions_std_responsive>

  </fieldset>
</form>