    <div class="row form-row">
      <div class="col-md-3 text-end">
        <p class="form-control-plaintext"><span class="form-saved-status"></span></p>
      </div>
      <div class="col-md-offset-3 col">
        <button type="submit" class="btn btn-primary">`Submit`</button>
        <button type="button" class="btn btn-default on-cancel" data-href="<~../url>?d=<~d>">`Cancel`</button>
      </div>
    </div>

    <~/common/form/group_status if="is_fwtable">

