  <fieldset>
    <~/common/form/msg>

    <~fields repeat inline>
        <~group_block if="is_group" inline>
            <div class="row form-row">
                <div class="col col-md-offset-3">
                    <h4><~igroup></h4>
                </div>
            </div>
        </~group_block>
        <div class="row form-row <~/common/error if="is_error">">
          <label class="col-form-label col-md-3" for="<~colname>"><~iname></label>
          <div class="col">
            <~type_input unless="type">
            <~type_readonly ifeq="type" value="readonly">
            <~type_checkbox ifeq="type" value="checkbox">
            <~type_textarea ifeq="type" value="textarea">
            <~type_lookup ifeq="type" value="lookup">
          </div>
        </div>
    </~fields>

  </fieldset>
