<form id="FEdit" class="fw-card" method="post" data-check-changes <~das if="id" inline>data-autosave</~das>  action="<~../url><~uu1 if="id" inline>/<~id></~uu1>" data-errors="<~ERR json>">
 <input type="hidden" name="XSS" value="<~session[XSS]>">
 <input type="hidden" name="return_url" value="<~return_url>">
 <~/common/form/relid>

  <fieldset>
    <~/common/form/msg>

    <div class="row">
      <div class="col-lg-6">

        <div class="row form-row">
          <label class="col-form-label col-md-3 required" for="entity">`Screen`</label>
          <div class="col-md-4">
            <p class="form-control-plaintext"><~i[screen]></p>
          </div>
        </div>

        <div class="row form-row">
          <label class="col-form-label col-md-3 required" for="iname">`Title`</label>
          <div class="col-md-9">
            <input id="iname" name="item[iname]" maxlength="64" value="<~i[iname]>" type="text" class="form-control" required autofocus>
            <p class="err-EXISTS">`Such title already exists in our database`</p>
          </div>
        </div>

        <~sys_block if="is_admin" inline>
        <div class="row form-row">
          <label class="col-form-label col-md-3" for="is_system">Is System?</label>
          <div class="col-md-1">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="is_system" name="item[is_system]" value="1" <~/common/checked if="i[is_system]">>
              <label class="form-check-label" for="is_system"></label>
            </div>
          </div>
          <div class="col-md-6">
            <p class="form-control-plaintext text-muted">if checked - filter available for all</p>
          </div>
        </div>
        </~sys_block>

      </div>
      <div class="col-lg-6">
        <~/common/form/group_id>

        <~/common/form/group_status>
      </div>
    </div>
    <~/common/form/actions_std_responsive>

  </fieldset>
</form>