<div class="row form-row">
  <div class="col-md-3 text-end">
    <p class="form-control-plaintext"><span class="form-saved-status"></span></p>
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary">`Submit`</button>
    <button type="submit" class="btn btn-secondary" name="is_add_more" value="1">`Submit and Add New`</button>
    <button type="button" class="btn btn-default on-cancel" data-href="<~./cancel_url>">`Cancel`</button>
  </div>
</div>
