<div class="row form-row">
  <label class="col-form-label col-md-3">`ID`</label>
  <div class="col-md-2"><p class="form-control-plaintext"><~uexists1 if="id" inline><~id></~uexists1><~unew unless="id" inline>(`new`)</~unew></p>
  </div>
  <div class="col text-end">
    <span class="form-saved-status"></span>
    <button type="submit" class="btn btn-primary">`Submit`</button>
    <button type="submit" class="btn btn-secondary" name="is_add_more" value="1">`Submit and Add New`</button>
    <button type="button" class="btn btn-default on-cancel" data-href="<~./cancel_url>">`Cancel`</button>
  </div>
</div>
