<div class="modal fade" id="modal-create-userfilter">
  <div class="modal-dialog modal-lg">
    <form method="post" action="<~/my/filters/url>">
     <input type="hidden" name="XSS" value="<~session[XSS]>">
     <input type="hidden" name="return_url" value="<~../url>">
     <input type="hidden" name="item[entity]" value="<~userfilter_entity>">

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><~./title></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-overflowed">
            <div class="row">
              <label class="control-label col-sm-3" for="filter_iname">`New Filter Title`</label>
              <div class="col">
                <input id="filter_iname" name="item[iname]" maxlength="255" value="" type="text" class="form-control">
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">`Save`</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">`Close`</button>
        </div>
    </div>

    </form>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(){

    $(document).on('click', '.on-create-userfilter', function(e){
      e.preventDefault();
      $modal = $('#modal-create-userfilter').modal('show');
      $modal.on('shown.bs.modal', function (e) {
         $modal.find("#filter_iname").focus();

         //also fill item_id with comma-separated checked ids
         var ids=[];
         $('.multicb:checked').each(function (i,el) {
            var name = el.name.replace('cb[', '');
            name = name.replace(']', '');
            ids.push(name); //leave just id
         });
         $modal.find('input[name="item[item_id]"]').val(ids.join(','));
      });
    });

    $(document).on('click', '.on-del-userfilter', function (e) {
      e.preventDefault();
      var id = $(this).data('id');
      fw.confirm('Are you sure to delete current filter?', function (e) {
        var $f = $('<form action="<~/my/filters/url>/'+id+'?XSS=<~session[XSS]>&return_url=<~../url>" method="post"></form>')
          .appendTo(document.body)
          .submit();
      });
    })

  });
</script>
