<div class="row form-row">
  <label class="col-form-label col-md-2 col-xl-1" for="fatt_categories_id">`Category`</label>
  <div class="col-sm-4 col-md-3">
    <select id="fatt_categories_id" name="f[att_categories_id]" class="form-select">
      <option value="">All</option>
      <~select_att_categories_ids select="f[att_categories_id]">
    </select>
  </div>
</div>