<div class="row list-items">
    <~list_сols repeat inline>
        <div class="col-sm-<~col_sm>">
            <~list_rows repeat inline>
                <a href="<~../url>?d=<~tname urlencode>" class="btn btn-link"><~iname></a>
            </~list_rows>
        </div>
    </~list_сols>
</div>
