<nav class="navbar navbar-expand-md navbar-light bg-light rounded site-navbar">
  <div class="container-md">
    <a class="navbar-brand" href="<~ROOT_URL>/"><img src="<~GLOBAL[ASSETS_URL]>/img/logo.png" alt="logo" height="28" class="d-inline-block align-text-top"><~/site_name><~./beta if="GLOBAL[is_test]"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item <~/common/active ifeq="GLOBAL[controller.action]" value="Home.Index">"><a class="nav-link" href="<~ROOT_URL>/">Home</a></li>
        <li class="nav-item <~/common/active ifeq="GLOBAL[controller.action.id]" value="Home.Show.About">"><a class="nav-link" href="<~/home/url>/About">About</a></li>
        <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="Contact">"><a class="nav-link" href="<~/contact/url>">Contact</a></li>
        <~logged_login unless="SESSION[user_id]" inline>
          <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="Login">"><a class="nav-link" href="<~/login/url>">Login</a></li>
        </~logged_login>

      </ul>
      <form class="d-flex" action="<~/search/url>">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="s">
      </form>

      <~logged_name if="SESSION[user_id]" inline>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dd-login" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><~/layout/user_avatar if="SESSION[user_avatar_link]"><~SESSION[user_name]></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-login">
            <a class="dropdown-item" href="<~/main/url>"><~/main/index/title></a>
            <a class="dropdown-item" href="<~/my/settings/url>">My Profile</a>
            <a class="dropdown-item" href="<~/my/password/url>">Change Login or Password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/Logoff">Logoff</a>
          </div>
        </li>
      </ul>
      </~logged_name>

    </div>
  </div>
</nav>