<div class="d-none d-md-block position-relative" style="padding-left: 1em;">
   <div class="float-end"><button class="btn btn-link on-sidebar-toggler"><~/common/icons/three-dots-vertical></button></div>
   <h3><a href="<~ROOT_URL>/" class="text-dark">
      <img src="<~GLOBAL[ASSETS_URL]>/img/logo.png" alt="logo" height="33" class="d-inline-block align-text-top"><~/site_name></a><~./beta if="GLOBAL[is_test]">
   </h3>
</div>
<ul class="nav flex-column">
  <~logged_menu if="SESSION[user_id]" inline>
     <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="Main">" ><a class="nav-link" href="<~/main/url>"><~/common/icons/grid-fill> <~/main/index/title></a></li>

     <~GLOBAL[menu_items] repeat inline>
      <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" vvalue="controller">" ><a class="nav-link" href="<~ROOT_URL><~url>"><~/common/icons/list-ul> <~iname></a></li>
     </~GLOBAL[menu_items]>

     <~admin80_menu ifge="SESSION[access_level]" value="80" inline>
        <li class="nav-header">`Manager Menu`</li>
        <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="AdminReports">" ><a class="nav-link" href="<~/admin/reports/url>"><~/common/icons/file-ruled> `Reports`</a></li>
        <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="AdminDemos">" ><a class="nav-link" href="<~/admin/demos/url>"><~/common/icons/list-ul> `Demo`</a></li>
        <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="AdminDemosDynamic">" ><a class="nav-link" href="<~/admin/demosdynamic/url>"><~/common/icons/list-ul> `Demo Dynamic`</a></li>
        <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="AdminDemoDicts">" ><a class="nav-link" href="<~/admin/demodicts/url>"><~/common/icons/list-ul> `Demo Dict`</a></li>
        <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="AdminSpages">" ><a class="nav-link" href="<~/admin/spages/url>"><~/common/icons/files> `Pages`</a></li>
        <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="AdminAtt">" ><a class="nav-link" href="<~/admin/att/url>"><~/common/icons/cloud-upload> `Manage Uploads`</a></li>
        <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="AdminLookupManager">" ><a class="nav-link" href="<~/admin/lookupmanager/url>"><~/common/icons/search> `Lookup Manager`</a></li>
     </~admin80_menu>

     <~admin90_menu ifge="SESSION[access_level]" value="90" inline>
        <li class="nav-header">`Admin Menu`</li>
        <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="AdminUsers">" ><a class="nav-link" href="<~/admin/users/url>"><~/common/icons/person-lines-fill> `Manage Members`</a></li>
        <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="AdminSettings">" ><a class="nav-link" href="<~/admin/settings/url>"><~/common/icons/sliders> `Site Settings`</a></li>
     </~admin90_menu>

      <~admin100_menu ifeq="SESSION[access_level]" value="100" inline>
        <!--li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="SysBackup">" ><a class="nav-link" href="<~/sys/backup/url>"><~/common/icons/hdd-fill> Site Backup</a></li-->
        <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="AdminDB">" ><a class="nav-link" href="<~/admin/db/url>" target="_blank"><~/common/icons/tools> `Direct DB Access`</a></li>
        <~dev_menu if="GLOBAL[IS_DEV]" inline>
        <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="DevManage">" ><a class="nav-link" href="<~/dev/url>/Manage"><~/common/icons/tools> `Developer Tools`</a></li>
        </~dev_menu>
      </~admin100_menu>

  <li class="nav-header"><~/layout/user_avatar if="SESSION[user_avatar_link]"><~SESSION[user_name]></li>
  <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="MyFilters">" ><a class="nav-link" href="<~/my/filters/url>"><~/common/icons/funnel> `My Filters`</a></li>
  <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="MyViews">" ><a class="nav-link" href="<~/my/views/url>"><~/common/icons/list-stars> `My Views`</a></li>
  <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="MyLists">" ><a class="nav-link" href="<~/my/lists/url>"><~/common/icons/flag-fill> `My Lists`</a></li>
  <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="MySettings">" ><a class="nav-link" href="<~/my/settings/url>"><~/common/icons/file-person> `My Profile`</a></li>
  <li class="nav-item <~/common/active ifeq="GLOBAL[controller]" value="MyPassword">" ><a class="nav-link" href="<~/my/password/url>"><~/common/icons/key> `Change Password`</a></li>
  <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#modal-my-feedback"><~/common/icons/bug> <~/my/feedback/showform/title></a></li>
  <li class="nav-item"><a class="nav-link" href="<~ROOT_URL>/Logoff"><~/common/icons/box-arrow-right> `Logoff`</a></li>
  </~logged_menu>
</ul>