<script>
  //clean BS5 form select class before init
  $('.selectpicker').removeClass('form-select')
</script>

<link href="<~GLOBAL[ASSETS_URL]>/css/bootstrap-select.min.css?v<~GLOBAL[SITE_VERSION]>" rel="stylesheet">
<script src="<~GLOBAL[ASSETS_URL]>/js/bootstrap-select.min.js?v<~GLOBAL[SITE_VERSION]>"></script>

<!-- adjust to BS5 styles -->
<style type="text/css">
  .bootstrap-select>.dropdown-toggle {
    color: #212529 !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
  }

  .bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
  .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #212529;
  }

  .bootstrap-select>.dropdown-toggle:focus {
    border-color: #86b7fe;
    outline: none !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
</style>

<script>
  $(document).ready(function() {
    // manual init for custom identifier
    // $('.my-selectpicker').selectpicker();

    // handle form autosave
    $('.selectpicker').on('changed.bs.select', function (e) {
      $(this).data('selectpicker-is-changed', true)
    })

    $('.bootstrap-select>.dropdown-toggle').on('blur', function (e) {
      var $select = $(this).prev('select')

      if (!!$select.data('selectpicker-is-changed')) {
        $select.data('selectpicker-is-changed', false)
        $select.parents('form[data-autosave]').trigger('autosave')
      }
    })
  })
</script>