<~bsubtitle2 if="title" inline><h5 class="card-title fs-6 fw-bold"><~title var></h5></~bsubtitle2>
<div class="chart-container">
    <canvas id="chart_<~id>"></canvas>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        var myChart = new Chart("chart_<~id>", {
            type: 'doughnut',
            data: {
                labels: [<~rows repeat inline>"<~ilabel>",</~rows>], //zzz
                datasets: [{
                    data: [<~rows repeat inline ivalues><~ivalue>,</~rows>], //zzz
                    backgroundColor: window.Chart.defaults.doughnut.backgroundColor
                }]
            },
            options: {
                // responsive: true
                legend: {
                    display: true
                }
            }
        });
    });
</script>
