<~/common/form/msg>

<h4><a href="<~/dev/manage/url>" class="btn btn-light btn-sm px-3"><~/common/icons/arrow-left-circle></a> <~title></h4>

<h5 class="mt-4">Select tables from db.json to create models/controllers for</h5>
<form method="post" action="<~../url>/(AppCreatorSave)">
    <input type="hidden" name="XSS" value="<~session[XSS]>">

  <fieldset>
    <div class="row form-row">
      <div class="col-2">Table</div>
      <div class="col">
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input on-all-cb" data-cb=".cb-model" id="all-cb-model" checked>
          <label class="form-check-label" for="all-cb-model" title="select all/none">&nbsp;</label>
        </div>
        Model Name (plural)
      </div>
      <div class="col">
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input on-all-cb" data-cb=".cb-controller" id="all-cb-controller" checked>
          <label class="form-check-label" for="all-cb-controller" title="select all/none">&nbsp;</label>
        </div>
        Controller URL
      </div>
      <div class="col">Controller Title</div>
      <div class="col">Controller Options</div>
    </div>

    <~entities repeat inline>
      <div class="row form-row mb-1">
        <label class="col-form-label col-2"><~table></label>
        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="form-check">
                <input type="checkbox" class="form-check-input cb-model" id="<~fw_name>#cbmodel" name="item[<~fw_name>#is_model]" <~/common/checked unless="is_model_exists">>
                <label class="form-check-label" for="<~fw_name>#cbmodel">&nbsp;</label>
              </div>
            </div>
            <input name="item[<~fw_name>#model_name]" maxlength="255" value="" type="text" class="form-control" placeholder="<~model_name>">
          </div>
        </div>
        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="form-check">
                <input type="checkbox" class="form-check-input cb-controller" id="<~fw_name>#cbcontroller" name="item[<~fw_name>#is_controller]" <~/common/checked unless="is_controller_exists">>
                <label class="form-check-label" for="<~fw_name>#cbcontroller">&nbsp;</label>
              </div>
            </div>
            <input name="item[<~fw_name>#controller_name]" maxlength="255" value="" type="text" class="form-control" placeholder="<~controller_url>">
          </div>
        </div>
        <div class="col">
          <input name="item[<~fw_name>#controller_title]" maxlength="255" value="" type="text" class="form-control" placeholder="<~controller_title>">
        </div>
        <div class="col">
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="<~fw_name>#cbcoview" name="item[<~fw_name>#coview]" <~/common/checked unless="controller_is_lookup">>
            <label class="form-check-label" for="<~fw_name>#cbcoview">View</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" id="<~fw_name>#cbcoedit" name="item[<~fw_name>#coedit]" <~/common/checked unless="controller_is_lookup">>
            <label class="form-check-label" for="<~fw_name>#cbcoedit">Edit</label>
          </div>
          <div class="form-check form-check-inline cb-lookup">
            <input type="checkbox" class="form-check-input" id="<~fw_name>#cbcolookup" name="item[<~fw_name>#colookup]" <~/common/checked if="controller_is_lookup">>
            <label class="form-check-label" for="<~fw_name>#cbcolookup">Lookup</label>
          </div>
        </div>
      </div>
    </~entities>

  </fieldset>

  <div class="row">
    <div class="col-2"></div>
    <div class="col">
      <button class="btn btn-primary">Create Models and Controllers</button>
    </div>
  </div>
</form>

<p></p>