<div class="float-end d-none d-lg-block">
  <span class="form-saved-status"></span>
  <button type="submit" class="btn btn-primary">`Submit`</button>
  <button type="submit" class="btn btn-secondary" name="is_add_more" value="1">`Submit and Add New`</button>
  <button type="button" class="btn btn-default on-cancel" data-href="<~/common/form/cancel_url>">`Cancel`</button>
</div>  
<p class="form-control-plaintext"><~uexists1 if="value" inline><~value></~uexists1><~unew unless="value" inline>(`new`)</~unew></p>
