<form class="fw-card" action="<~../url>/SaveMulti" method="post" onsubmit="return confirm('`Are you sure?`')">
<input type="hidden" name="XSS" value="<~SESSION[XSS]>">

<table class="table table-striped table-sm table-hover list">
    <thead>
        <tr data-sortby="<~f[sortby]>" data-sortdir="<~f[sortdir]>">
            <th><input type="checkbox" name="all" value="1" onclick="list_chkall(this)"></th>
            <th data-sort="tname">`Table Name`</th>
            <th data-sort="iname">`Title`</th>
            <th>`Description`</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
<~list_rows repeat inline>
        <tr data-url="<~row_click_url>">
            <td><input class="multicb" type="checkbox" name="cb[<~id>]" value="1"></td>
            <td><~tname></td>
            <td><~iname></td>
            <td><~idesc truncate></td>
            <td class="text-nowrap text-end">
                <a href="<~/admin/lookupmanager/url>?d=<~tname urlencode>">`Browse`</a>
                <~/common/dot><a href="<~row_click_url>">`Edit`</a>
                <~/common/list/btn_del>
            </td>
        </tr>
</~list_rows>
    </tbody>
</table>

<input type="submit" name="delete" value="`Delete`" class="btn btn-danger" > `checked rows`

</form>
<form id="FOneDelete" action="<~../url>/%id%?XSS=<~SESSION[XSS]>" method="post">
</form>

<~/common/pagination>