<div class="row form-row">
  <label class="col-form-label col-sm-2 col-md-1" for="fentity">`Screen`</label>
  <div class="col-sm-4">
    <select id="fentity" name="f[entity]" class="form-select">
      <option value="">- all -</option>
      <~../entities.sel select="f[entity]">
    </select>
  </div>
  <label class="col-form-label col-sm-1" for="fstatus">`Status`</label>
  <div class="col-sm-2">
    <select id="fstatus" name="f[status]" class="form-select">
      <option value="">- all -</option>
      <~/common/sel/statusf.sel select="f[status]">
    </select>
  </div>
</div>
