<form class="fw-card" action="<~../url>/SaveMulti" method="post" onsubmit="return confirm('`Are you sure?`')">
<input type="hidden" name="XSS" value="<~SESSION[XSS]>">
<input type="hidden" name="d" value="<~d>">

<table class="table table-striped table-sm table-hover list">
    <thead>
        <~group_headers_block if="is_group_headers" inline>
            <tr class="list-header">
                <th></th>
                <~group_headers repeat inline xyz>
                    <th colspan="<~colspan>"><~iname></th>
                </~group_headers>
                <th></th>
            </tr>
        </~group_headers_block>
        <tr data-sortby="<~f[sortby]>" data-sortdir="<~f[sortdir]>">
            <th style="width:30px"><input type="checkbox" name="all" value="1" onclick="list_chkall(this)"></th>
            <~fields_headers repeat inline>
                <th data-sort="<~colname>">`<~iname>`</th>
            </~fields_headers>
            <th style="width:80px"></th>
        </tr>
    </thead>
    <tbody>
<~list_rows repeat inline>
        <tr data-url="<~row_click_url>">
            <td><input class="multicb" type="checkbox" name="cb[<~id>]" value="1"></td>
            <~fields_values repeat inline>
                <td><~value var unless="is_custom"><~col_custom if="is_custom"></td>
            </~fields_values>
            <td class="text-nowrap text-end">
                <~readonly_block unless="is_readonly" inline>
                  <a href="<~row_click_url>">`Edit`</a>
                  <~/common/dot><a href="<~../url>/<~id>/delete?d=<~d>" class="on-delete-list-row">`Del`</a>
                </~readonly_block>
            </td>
        </tr>
</~list_rows>
    </tbody>
</table>

<~footer_text if="defs[footer_text]" inline>
<p class="well well-sm">
    <~defs[footer_text] nl2br>
</p>
</~footer_text>

<~/common/list/btn_multidel>

</form>
<form id="FOneDelete" action="<~../url>/%id%?XSS=<~SESSION[XSS]>&d=<~d>" method="post">
</form>

<~/common/pagination>