<nav class="d-print-none">
  <a href="<~../url>">`Lookup Manager`</a> <span class="text-muted">/</span>
</nav>
<h1><~title> (<~count>)</h1>

<div class="btn-std">
<~mode_switch if="is_two_modes" inline>
<div class="btn-group on-mode-switch" role="group" data-bs-toggle="buttons">
  <input type="radio" class="btn-check" name="fmode" value="" id="option_browse" autocomplete="off" <~/common/checked unless="f[mode]">>
  <label class="btn btn-default <~/common/active unless="f[mode]">" for="option_browse"><~/common/icons/card-list> `Browse`</label>

  <input type="radio" class="btn-check" name="fmode" value="edit" id="option_edit" autocomplete="off" <~/common/checked if="f[mode]">>
  <label class="btn btn-default <~/common/active if="f[mode]">" for="option_edit"><~/common/icons/pencil-square> `Table Edit`</label>
</div>
</~mode_switch>

<~readonly_block unless="is_readonly" inline>
<div class="btn-group">
    <a class="btn btn-default on-add-new" href="<~../url>/new?d=<~d>"><~/common/icons/plusb> `Add New`</a>
</div>
</~readonly_block>
</div>

<~header_text if="defs[header_text]" inline>
<p class="well well-sm">
    <~defs[header_text] nl2br>
</p>
</~header_text>

<~/common/form/msg>

<~/common/list/filter_std>
<~list_table unless="f[mode]">
<~list_table_edit if="f[mode]">
