<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">`Parent`</label>
  <div class="col-md-3">
    <p class="form-control-plaintext"><~parent[iname]></p>
  </div>
</div>
<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">`DemoDicts`</label>
  <div class="col-md-3">
    <p class="form-control-plaintext"><~demo_dicts[iname]></p>
  </div>
</div>

<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">`Title`</label>
  <div class="col">
    <p class="form-control-plaintext"><~i[iname]></p>
  </div>
</div>
<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">`Description`</label>
  <div class="col">
    <p class="form-control-plaintext"><~i[idesc] markdown></p>
  </div>
</div>

<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">`Wysiwyg editor`</label>
  <div class="col">
    <p class="form-control-plaintext"><~i[idesc2] noescape></p>
  </div>
</div>

<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">`Wysiwyg editor short`</label>
  <div class="col">
    <p class="form-control-plaintext"><~i[idesc3] noescape></p>
  </div>
</div>

<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">`Email` (unique field)</label>
  <div class="col">
    <p class="form-control-plaintext"><~i[email]></p>
  </div>
</div>

<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">`fint`</label>
  <div class="col-md-2">
    <p class="form-control-plaintext"><~i[fint]></p>
  </div>
</div>
<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">`ffloat`</label>
  <div class="col-md-3">
    <p class="form-control-plaintext"><~i[ffloat] number_format="2"></p>
  </div>
</div>

<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">DemoDicts Autocomplete</label>
  <div class="col">
      <p class="form-control-plaintext"><~dict_link_auto[iname]></p>
  </div>
</div>

<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">DemoDicts Multi</label>
  <div class="col">
    <div class="field-multi-value">
      <~multi_datarow repeat inline>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" <~/common/checked if="is_checked"> <~/common/disabled>>
          <label class="form-check-label"><~iname></label>
        </div>
      </~multi_datarow>
    </div>
  </div>
</div>

<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">DemoDicts via Link Table</label>
  <div class="col">
    <div class="field-multi-value">
      <~multi_datarow_link repeat inline>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" <~/common/checked if="is_checked"> <~/common/disabled>>
          <label class="form-check-label"><~iname></label>
        </div>
      </~multi_datarow_link>
    </div>
  </div>
</div>

<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">Combo</label>
  <div class="col-md-3">
    <p class="form-control-plaintext"><~/common/sel/fcombo.sel selvalue="i[fcombo]"></p>
  </div>
</div>
<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">Radio</label>
  <div class="col">
    <p class="form-control-plaintext"><~/common/sel/fcombo.sel selvalue="i[fradio]"></p>
  </div>
</div>
<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">Yes or No</label>
  <div class="col">
    <p class="form-control-plaintext"><~/common/sel/fcombo.sel selvalue="i[fyesno]"></p>
  </div>
</div>

<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">Checkbox</label>
  <div class="col d-flex align-items-center">
    <div class="form-check form-check-inline">
      <input type="checkbox" class="form-check-input" <~/common/checked if="i[is_checkbox]"> <~/common/disabled>>
      <label class="form-check-label">Yes</label>
    </div>
  </div>
</div>

<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">Date combo</label>
  <div class="col-md-9 fdate-combo">
    <p class="form-control-plaintext">
      <~/common/sel/date_day.sel selvalue="fdate_combo_day">
      <~/common/sel/date_mon.sel selvalue="fdate_combo_mon">
      <~/common/sel/date_year.sel selvalue="fdate_combo_year">
    </p>
  </div>
</div>

<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">Date popup</label>
  <div class="col-md-3">
    <p class="form-control-plaintext"><~i[fdate_pop] date></p>
  </div>
</div>

<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">Date and Time</label>
  <div class="col-md-4">
    <p class="form-control-plaintext"><~i[fdatetime] date="long"></p>
  </div>
</div>
<div class="row form-row">
  <label class="col-form-label fw-bold col-md-3">Time</label>
  <div class="col-md-2">
    <p class="form-control-plaintext"><~i[ftime_str]></p>
  </div>
</div>